$link-color: #E3B873;
nav {
    .nav__menu {
        &_link:hover {
            color: $link-color;
        }
        &-button {
            &_button {
                background-color: $link-color;
                width: 161px;
                height: 37px;
                box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
                border-radius: 2px;
                &:hover {
                    background-color: lighten($link-color, 10%);
                }
            }
        }
        &-tel_tel:hover {
                color: #fff;
        }
    }
}
.upper-block {
    &__instagram_link:hover {
        background: lighten(#131313, 10%);
        color: #fff;
    }
    &__description_buttons {
        &_calculate {
            margin-right: 20px;
            width: 207px;
            height: 51px;
            background-color: $link-color;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;
            &:hover {
                background-color: lighten($link-color, 10%);
            }
        }
        &_submit {
            width: 207px;
            height: 51px;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
.scroll-down {
    &:hover {
        background: lighten(#131313, 10%);
    }
    &__button:hover {
        color: $link-color;
    }
}
.projects {
    &__completed_arrows {
        &_left, &_right {
            font-size: 40.51px;
            color:rgba(255, 255, 255, 0.3);
            &:hover {
                color: #fff;
            }
        }
        &_circle {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 100%;
            &:hover {
                background: #fff;
            }
        }
    }
    &__works {
        &_cities_city_link:hover {
            color: $link-color;
            padding-bottom: 6.88px;
            border-bottom: 1px solid $link-color;
        }
        &_designs_slider:hover {
            background: lighten($link-color, 10%);
        }
    }
}
.repairs {
    &__descr_inputs_button_submit {
        cursor: pointer;
        background: $link-color;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        &:hover {
            background: lighten($link-color, 10%);
        }
    }
    &__request_form_blank_inputs_button_submit {
        cursor: pointer;
        background: $link-color;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        &:hover {
            background: lighten($link-color, 10%);
        }
    }
}
.styles__container_list_button_link:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid $link-color;
}
.address__container_info_social_link:hover {
    background: lighten($link-color, 10%);
}
.steps__container {
    &_descr_arrows {
        &_left, &_right {
            font-size: 40.51px;
            color:rgba(255, 255, 255, 0.3);
            &:hover {
                color: #fff;
            }
        }
        &_circle {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 100%;
            &:hover {
                background: #fff;
            }
        }
    }
    &_works_step {
        &:hover {
            .steps__container_works_step_link_page, .steps__container_works_step_link_descr {
                color: #fff;
            }
        }
    }
}