@font-face {
    font-family: "FuturaDemiC";
    font-weight: normal;
    font-style: normal;
    src: url("assets/FuturaDemiC.woff") format("woff");
}
@font-face {
    font-family: "FuturaBookC";
    font-weight: normal;
    font-style: normal;
    src: url("assets/FuturaBookC.woff") format("woff");
}
@font-face {
    font-family: "FuturaMediumC";
    font-weight: normal;
    font-style: normal;
    src: url("assets/FuturaMediumC.woff") format("woff");
}
@font-face {
    font-family: "ProximaNova-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("assets/ProximaNova-Regular.woff") format("woff");
}
@font-face {
    font-family: "YesevaOne";
    font-weight: normal;
    font-style: normal;
    src: url("assets/YesevaOne.woff") format("woff");
}
%font-option {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
%font-project-head {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #E3B873;
}
%font-project-descr {
    font-family: "FuturaBookC";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
a {
    text-decoration: none;
}
header {
    text-align: center;
}
.nav {
    &__menu {
        &_link {
            font-family: "FuturaBookC";
            @extend %font-option;
            color: #FFFFFF;
        }
        &-tel_tel {
            text-decoration: underline;
            color: #E3B873;
            font-family: "FuturaDemiC";
        }
        &-button_button {
            font-family: "FuturaDemiC";
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    .logo__text {
        font-family: "FuturaDemiC";
        @extend %font-option;
        color: #E3B873;
    }
}
.upper-block {
    &__instagram_link {
        @extend %font-option;
        color: #E3B873;
        font-family: "FuturaDemiC";
        font-style: normal;
        font-weight: 600;
        &_text {
            transform: rotate(90deg);
        }
    }
    &__description {
        font-family: "Yeseva One";
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        color: #FFFFFF;
        &_repair {
            text-transform: uppercase;
        }
        &_city {
            color: #E3B873;
        }
        &_cost {
            font-family: "FuturaBookC";
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;
            color: #FFFFFF;
        }
        &_buttons {
            &_calculate, &_submit {
                font-family: "FuturaDemiC";
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}
.scroll-down__button {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.projects {
    &__completed {
        &_par {
            font-size: 27px;
            line-height: 37px;
            letter-spacing: -0.07em;
            @extend %font-project-head;
        }
        &_text {
            @extend %font-project-descr;
            font-size: 18px;
            line-height: 29px;
        }
        &_header_head {
            font-size: 18px;
            line-height: 25px;
            @extend %font-project-head;
            &_descr {
                @extend %font-project-descr;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    &__works_cities_city_link {
        @extend %font-project-head;
        color: rgba(255, 255, 255, 0.3);
        &:hover {
            color: #E3B873;
        }
    }
    &__online_text {
        @extend %font-project-head;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }
}
.repairs {
    &__descr {
        &_text {
            @extend %font-project-descr;
            color: #363636;
            font-size: 20px;
            line-height: 34px;
        }
        &_inputs {
            input {
                @extend %font-project-descr;
                color: #363636;
                font-size: 18px;
                line-height: 24px;
            }
            input::placeholder {
                @extend %font-project-descr;
                color: #363636;
                font-size: 18px;
                line-height: 24px;  
            }
            &_label {
                @extend %font-project-descr;
                color: rgba(54, 54, 54, 0.5);
            }
            &_button_submit {
                font-family: "FuturaDemiC";
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 26px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &_agree {
                label {
                    @extend %font-project-descr;
                    font-size: 16px;
                    line-height: 22px;
                    color: #181818;
                }
            }
        }
    }
    &__types {
        &_text {
            @extend %font-project-head;
            font-size: 20px;
            line-height: 28px;
            color: #181818;
        }
        &_designs_name {
            &_img {
                &_head {
                    font-family: "Yeseva One";
                    font-size: 18px;
                    line-height: 25px;
                    color: #363636;
                }
            }
            &_price {
                @extend %font-project-head;
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF;
            }
            li {
                @extend %font-project-descr;
                line-height: 25px;
                color: #959595;
                list-style-position: inside;
            }
        }
    }
    &__request_form {
        &_blank {
            &_head {
                font-family: "FuturaDemiC";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
            }
            &_inputs {
                &_label {
                    @extend %font-project-descr;
                    color: rgba(255, 255, 255, 0.5);
                    &-agree {
                        @extend %font-project-descr;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                &_button_submit {
                    font-family: "FuturaDemiC";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
            input {
                font-family: "FuturaMediumC";
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF
            }
            input::placeholder {
                font-family: "FuturaMediumC";
                font-size: 18px;
                line-height: 25px;
                color: #FFFFFF
            }
        }
        &_save {
            &_text {
                font-family: "FuturaDemiC";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                color: #E3B873;
                text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
            }
        }
    }
}
.styles {
    
}