@import 'sass/_typography.scss';
@import 'sass/_buttons.scss';
$bgcolor: #131313;
$bgcolor-des: #fff;
$padding: 100px;
$small-padding: 40px;

* {
    margin: 0;
    padding: 0;
}

* img {
    display: block;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

nav {
    height: 83px;
    display: flex;
    padding: 0 $padding;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: $bgcolor;
    .nav__menu {
        height: 100%;
        display: flex;
        align-items: center;
        &_link {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-button_button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.main-upper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 707px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("assets/main-bg.png");
    .instagram {
        margin-right: 60px;
        height: 100%;
        background: $bgcolor;
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            max-width: 110px;
            &_text {
                display: flex;
                align-items: center;
                transform: rotate(90deg);
            }
            &_img {
                margin-left: 20px;
                height: 1.54px;
                width: 51px;
                background: #E3B873;
            }
        }
    }
    .description {
        &__container {
            max-width: 520px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &__repair {
            margin-top: 194px;
        }
        &__buttons {
            display: flex;
            margin-bottom: 208px;
            &_calculate, &_submit {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &_application {
                display: none;
            }
        }
    }
}

.scroll-down {
    display: flex;
    position: absolute;
    bottom: -48px;
    width: 247px;
    height: 97px;
    background-color: $bgcolor;
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        svg {
            margin-left: 12px;
        }
    }
}

.projects {
    padding-top: 176.36px;
    padding-left: $padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $bgcolor;
    &-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .completed {
        margin-right: 50px;
        &__par {
            width: 200px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            .line-block {
                margin-top: 35px;
                margin-left: 5px;
                &__line {
                    width: 92px;
                    height: 1px;
                    background: #E3B873;
                }
            }
        }
        &__slider {
            width: 260px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_arrow-left, &_arrow-right {
                display: inline-block;
            }
            &_arrow-left {
                margin-right: 29px;
            }
            &_arrow-right {
                margin-left: 29px;
            }
            &_circle {
                display: inline-block;
                height: 9.57px;
                width: 9.57px;
            }
        }
        &__text {
            margin-top: 34px;
        }
        .work {
            margin-top: 42px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__head {
                width: 172px;
                margin-bottom: 34px;
                &_descr {
                    margin-top: 8px;
                }
            }
        }
    }
    &__works {
        .cities {
            width: 650px;
            display: flex;
            justify-content: space-between;
        }
        &_designs {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-top: 52.68px;

            & .des-sec {
                margin-left: 21px;
            }

            &_slider {
                display: block;
                position: absolute;
                top: 210px;
                right: 45px;
                background: #E3B873;
                height: 54.72px;
                width: 54.72px;
                border-radius: 50%;
                box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
                &_link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                }
                &-left, &-right {
                    display: none;
                }
            }
            &_des-mob {
                display: none;
            }
        }
    }
}
input {
    outline: none;
}

.online {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, #131313 0%, #131313 50%, #fff 44%);
    &__text {
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        h2 {
            width: 100%;
            text-align: center;
        }
        &_img {
            margin-top: 12px;
            width: 115px;
            align-items: center;
            justify-content: space-between;
            display: flex;
            &_line {
                background: #E3B873;
                border-radius: 30px;
                height: 1.54px;
                width: 32px;
            }
        }
    }
    &__control {
        max-height: 434px;
        margin-top: 31px;
        text-align: center;
        display: block;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
        iframe {
            border: none;
        }
    }
    &__descr {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &_line {
            width: 100%;
            display: flex;
            justify-content: center;
            &_horizontal {
                width: 55px;
                height: 1.54px;
                background: #E3B873;
                border-radius: 30px;
            }
        }
        &_text {
            margin-top: 34.46px;
            width: 680px;
            text-align: center;
        }
    }
    &__form {
        margin-top: 95px;
        display: flex;
        width: 770px;
        flex-wrap: wrap;
        justify-content: center;
        &_name, &_phone {
            width: 231px;
            display: flex;
            flex-wrap: wrap;
        }
        &_name {
            margin-right: 58px;
        }
        &_phone {
            margin-right: 49px;
        }
        &_label {
            width: 231px;
        }
        input:not([type="checkbox"]) {
            width: 231px;
            border: 0px;
            border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        }
        &_button {
            &_submit {
                width: 200px;
                height: 51px;
                border: none;
            }
        }
        &_agree {
            margin-top: 37px;
            label {
                margin-left: 8px;
            }
            &-mob {
                display: none;
            }
        }
    }
}

.repairs {
    padding: 147px $padding 0;
    background: $bgcolor-des;
    &__types {
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_container {
            width: 100%;
            padding-bottom: 31px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &_text {
            display: flex;
            flex-wrap: wrap;
            width: 195px;
            justify-content: center;
            &_img {
                margin-top: 12px;
                width: 115px;
                align-items: center;
                justify-content: space-between;
                display: flex;
                &_line {
                    background: #E3B873;
                    border-radius: 30px;
                    height: 1.54px;
                    width: 32px;
                }
            }
        }
        &_designs {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &_name {
                padding: 0 3px 300px;
                position: relative;
                &_head {
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    width: 330px;
                    display: flex;
                    background: #fff;
                    left: 31px;
                    top: 300px;
                    &_container {
                        margin: 25px 68px 49px 34px;
                        ul {
                            margin-top: 15px;;
                            li {
                                list-style-position: inside;
                            }
                        }
                    }
                }
                &_price {
                    width: 228px;
                    height: 54px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: -27px;
                    background: #E3B873;
                    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
                }
            }
        }
    }
}

.request {
    padding: 0 $padding 220px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    &__advantages {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        &_circle {
            .circle {
                position: absolute;
                left: -181px;
                width: 636px;
                height: 636px;
                border-radius: 50%;
                background:
                linear-gradient(#fff,#fff) padding-box,
                linear-gradient(to right, #fff 0%, #fff 20%, #fff 20%, #E3B873 100%) border-box;
                border: 3px solid transparent;

                & + img {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    .stages {
        position: absolute;
        width: 50%;
        max-width: 423px;
        height: 475px;
        z-index: 1;
        &__stage {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background: #fff;
            &:nth-of-type(1) {
                left: -18px;
            }
            &:nth-of-type(2) {
                left: 72px;
                top: 140px;
            }
            &:nth-of-type(3) {
                left: 86px;
                top: 270px;
            }
            &:nth-of-type(4) {
                left: 45px;
                top: 400px;
            }
            &_num {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 41.76px;
                height: 41.76px;
                margin-right: 14px;
                background: #E3B873;
                box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
                border-radius: 30px;
            }
            .text-2,
            .text-3 {
                width: auto;
                max-width: 86%;
            }
            &_text {
                width: 86%;
            }
        }
    }
    &__inputs {
        width: 406px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &_button {
            &_submit {
                width: 213px;
                height: 51px;
                border: none;
            }
        }
        &_name, &_phone, &_email {
            width: 406px;
            display: flex;
            flex-wrap: wrap;
            &_agree {
                width: 406px;
            }
        }
        &_phone, &_email {
            margin-top: 48px;
        }
        &_label {
            width: 406px;
        }
        &_label-agree {
            width: 406px;
            margin-left: 8.62px;
        }
        input[type = "text"], input[type = "text"], input[type = "email"] {
            width: 406px;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            background: #131313;
        }
        &_button {
            margin: 39px 0px 27px 195px;
        }
        &_agree {
            margin-top: 16px;
        }
    }
    &__form {
        width: 509px;
        height: 506px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_blank {
            width: 509px;
            height: 506px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background: #131313;
            &_head {
                margin-top: 28px;
                width: 270px;
            }
        }
        &_save {
            margin-top: 38.44px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            &_circle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 25px;
                width: 72px;
                height: 72px;
                border-radius: 100%;
                background: #E3B873;
            }
            &_text {
                width: 220px;
            }
        }
    }
}

.styles {
    display: flex;
    background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url("assets/stylesbg.png");
    &__container {
        position: relative;
        padding: 0 $padding $padding;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &_list {
            &_head {
                margin-bottom: 47px;
                width: 300px;
            }
            margin-top: 47px;
            width: 299px;
            display: flex;
            flex-wrap: wrap;
            &_button {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 22px;
                }
            }
            &_img-left, &_img-right, &_img {
                display: none;
            }
        }
    }
    &__images {
        position: relative;
        &_sample {
            position: absolute;
            &:nth-of-type(1) {
                right: 398px;
                top: -40px;
            }
            &:nth-of-type(2) {
                top: -112px;
                right: 0;
            }
            &:nth-of-type(3) {
                right: 398px;
                top: 557px;
            }
            &:nth-of-type(4) {
                right: 0;
                top: 199px;
            }
        }
    }
}

.design-project {
    &-mob__types_designs_name {
        display: none;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    &__types {
        position: relative;
        padding-top: 148px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_container {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 40px;
            &_descr {
                width: 660px;
                margin-top: 24px;
            }
        }
        &_text {
            display: flex;
            flex-wrap: wrap;
            width: 195px;
            justify-content: center;
            &_img {
                margin-top: 12px;
                width: 115px;
                align-items: center;
                justify-content: space-between;
                display: flex;
                &_line {
                    background: #E3B873;
                    border-radius: 30px;
                    height: 1.54px;
                    width: 32px;
                }
            }
        } 
        &_designs {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &_name {
                position: relative;
                &_head {
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    width: 330px;
                    display: flex;
                    background: #fff;
                    left: 31px;
                    top: 300px;
                    &_container {
                        margin: 25px 68px 0px 34px;
                        ul {
                            margin-top: 15px;
                            margin-bottom: 50px;
                            li {
                                list-style-position: inside;
                            }
                        }
                    }
                }
                &_price {
                    width: 228px;
                    height: 54px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    bottom: -27px;
                    background: #E3B873;
                    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3)
                }
            }
        }
    }
}

.steps {
    margin-top: -108px;
    padding-top: 429px;
    background: #131313;
    &__container {
        padding: 0 $padding;
        display: flex;
        justify-content: space-between;
        &_descr {
            width: 337px;
            &_working_header {
                margin-top: 20px;
            }
            &_block {
                margin-top: 92px;
                &_header {
                    width: 240px;
                    margin-top: 22px;
                }
                &_text:last-child {
                    margin-top: 15px;
                }
                &_text {
                    margin-top: 20px;
                }
            }
            &_arrows {
                margin-top: 100px;
            }
            &_arrows {
                width: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &_left, &_right {
                    display: inline-block;
                }
                &_left {
                    margin-right: 29px;
                }
                &_right {
                    margin-left: 29px;
                }
                &_circle {
                    display: inline-block;
                    height: 9.57px;
                    width: 9.57px;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
        &_works {
            width: 766px;
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            &_steps {
                flex-wrap: wrap;
                display: flex;
                & + img {
                    max-width: 100%;
                    flex-shrink: 1;
                }
                &_step {
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 33%;
                    margin-bottom: 40px;
                    &_descr {
                        width: 100%;
                        margin-top: 12px;
                    }
                }
            }
            img {
                margin-top: 20px;
            }
        }
    }
}

.team {
    padding-top: 40px;
    background: linear-gradient(to bottom, #131313 0%, #131313 500px, #fff 500px, #fff 100%);
    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    &__types {
        height: 725px;
        margin-top: 148px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_container {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &_descr {
                width: 450px;
                margin-top: 24px;
            }
        }
        &_text {
            display: flex;
            flex-wrap: wrap;
            width: 195px;
            justify-content: center;
            &_img {
                margin-top: 12px;
                width: 115px;
                align-items: center;
                justify-content: space-between;
                display: flex;
                &_line {
                    background: #E3B873;
                    border-radius: 30px;
                    height: 1.54px;
                    width: 32px;
                }
            }
        }
    }
    &__members {
        margin: 80px $padding 0;
        display: flex;
        justify-content: space-around;
        &_container {
            position: relative;
        }
        .persons {
            position: absolute;
            left: 20px;
            bottom: -50px;
            width: 233px;
            background: #fff;
            &__descr {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                &_name {
                    margin-top: 22px;
                    width: 100%;
                    text-align: center;
                }
                &_pos {
                    margin-bottom: 20px;
                    width: 100%;
                    text-align: center;
                }
            }
            &__exp {
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #E3B873;
            }
        }
    }
    .member-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 70px;
        height: 70px;
        left: -35px;
        top: -35px;
        background-color: #E3B873;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
    }
    &__descr {
        margin-top: 103px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &_line {
            width: 100%;
            display: flex;
            justify-content: center;
            &_hor {
                width: 55px;
                height: 1.54px;
                background: #E3B873;
                border-radius: 30px;
            }
        }
        &_text {
            margin-top: 17px;
            width: 560px;
            text-align: center;
        }
    }
}

.clients {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 354px;
    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    &__types {
        margin-top: 88px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_container {
            margin-bottom: 39px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &_descr {
                width: 350px;
                margin-top: 24px;
            }
        }
        &_text {
            display: flex;
            flex-wrap: wrap;
            width: 195px;
            justify-content: center;
            &_img {
                margin-top: 12px;
                width: 115px;
                align-items: center;
                justify-content: space-between;
                display: flex;
                &_line {
                    background: #E3B873;
                    border-radius: 30px;
                    height: 1.54px;
                    width: 32px;
                }
            }
        }
    }
    &__reviews {
        padding: 0 $padding;
        display: flex;
        justify-content: space-between;
        &_container {
            position: relative;
            padding: 24px 31px 0px 20px;
            display: flex;
            flex-wrap: wrap;
            &_user {
                display: flex;
                align-items: center;
                width: 100%;
                img {
                    border-radius: 50%;
                }
                &_name {
                    margin-left: 20px;
                    width: 182px;
                }
                &_review {
                    margin-top: 20px;
                    margin-bottom: 55px;
                }
                &_type {
                    position: absolute;
                    width: 294px;
                    height: 54px;
                    bottom: -27px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #E3B873;
                    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
                    &_info {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:not(:last-child) {
                            border-right: 1px solid #fff;
                        }
                        svg {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
    .ask {
        position: absolute;
        display: flex;
        justify-content: center;
        max-width: 883px;
        bottom: -222px;
        width: 100%;
        background: #131313;
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 520px;
        }
        &__head {
            margin-top: 34.4px;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        &__inputs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            &_name, &_phone, &_question {
                display: flex;
                flex-wrap: wrap;
            }
            input:not([type="checkbox"]) {
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                background: none;
            }
            &_question {
                margin-top: 46px;
                width: 520px;
                input {
                    width: 100%;
                }
            }
            &_agree {
                margin-top: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            &_button {
                width: 100%;
                display: flex;
                justify-content: center;
                &_submit {
                    margin-bottom: 34.4px;
                    margin-top: 50px;
                    width: 200px;
                    height: 51px;
                    border: none;
                }
            }
            &_label {
                width: 100%;
                &_agree {
                    margin-left: 9px;
                }
            }
        }
    }
}

.address {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("assets/mapbg.png");
    &__container {
        max-width: 925px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 66px;
        &_info {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &_descr {
                margin-top: 275px;
                text-align: center;
                width: 570px;
            }
            &_social {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 26px;
                margin-bottom: 43px;
                &_link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    background: #E3B873;
                    &:nth-child(1) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .img {
        margin: 0 auto;
    }
}

footer {
    background-color: $bgcolor;
    nav {
        height: 133px;
    }
    .nav__menu {
        height: 100%;
        display: flex;
        align-items: center;
        &_link {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-button_button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.map-mob {
    display: none;
}

@media (max-width: 1439px) {
    .design-project__types_designs,
    nav,
    .clients__reviews {
        padding: 0 $small-padding;
    }
    .projects {
        padding-top: 120px;
        padding-left: $small-padding;
    }
    .styles__container {
        padding: 0 $small-padding $padding;
    }
    .request {
        padding-right: $small-padding;
    }
    .repairs {
        padding-left: $small-padding;
        padding-right: $small-padding;
    }
}

@media (max-width: 1275px) {
    .request__form,
    .des-sec {
        display: none;
    }
    .design-project__types_designs_name {
        padding: 0 3px 300px;
    }
    .repairs__types_designs,
    .design-project__types_designs {
        justify-content: center;
        &_name {
            padding-left: $small-padding / 2;
            padding-right: $small-padding / 2;
        }
    }
    .steps {
        padding-top: 80px;
        &__container {
            padding: 0 $small-padding;
        }
    }
}

@media (max-width: 1067px) {
    
}