@font-face {
  font-family: "FuturaDemiC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/FuturaDemiC.woff") format("woff");
}

@font-face {
  font-family: "FuturaBookC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/FuturaBookC.woff") format("woff");
}

@font-face {
  font-family: "FuturaMediumC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/FuturaMediumC.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: normal;
  font-style: normal;
  src: url("assets/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "YesevaOne";
  font-weight: normal;
  font-style: normal;
  src: url("assets/YesevaOne.woff") format("woff");
}

.nav__menu_link, .nav .logo__text, .upper-block__instagram_link {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.projects__completed_par, .projects__completed_header_head, .projects__works_cities_city_link, .projects__online_text, .repairs__types_text, .repairs__types_designs_name_price, .styles__container_list_head, .design-project__types_text, .design-project__types_designs_name_price, .steps__container_descr_working_header, .steps__container_descr_block_page, .steps__container_descr_block_header, .steps .team__types_text, .steps .team__members_container_block_person_descr_name, .steps .team__members_container_block_person_exp, .clients__types_text, .clients__reviews_container_user_name, .clients__reviews_container_user_type, .clients .ask__head {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #E3B873;
}

.projects__completed_text, .projects__completed_header_head_descr, .repairs__descr_text, .repairs__descr_inputs input, .repairs__descr_inputs input::-webkit-input-placeholder, .repairs__descr_inputs_label, .repairs__descr_inputs_agree label, .repairs__types_designs_name li, .repairs__request_form_blank_inputs_label, .repairs__request_form_blank_inputs_label-agree, .design-project__descr_text, .design-project__types_designs_name li, .steps__container_descr_block_text, .steps .team__types_container_descr, .steps .team__members_container_block_person_descr_pos, .steps .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.projects__completed_text, .projects__completed_header_head_descr, .repairs__descr_text, .repairs__descr_inputs input, .repairs__descr_inputs input:-ms-input-placeholder, .repairs__descr_inputs_label, .repairs__descr_inputs_agree label, .repairs__types_designs_name li, .repairs__request_form_blank_inputs_label, .repairs__request_form_blank_inputs_label-agree, .design-project__descr_text, .design-project__types_designs_name li, .steps__container_descr_block_text, .steps .team__types_container_descr, .steps .team__members_container_block_person_descr_pos, .steps .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.projects__completed_text, .projects__completed_header_head_descr, .repairs__descr_text, .repairs__descr_inputs input, .repairs__descr_inputs input::-ms-input-placeholder, .repairs__descr_inputs_label, .repairs__descr_inputs_agree label, .repairs__types_designs_name li, .repairs__request_form_blank_inputs_label, .repairs__request_form_blank_inputs_label-agree, .design-project__descr_text, .design-project__types_designs_name li, .steps__container_descr_block_text, .steps .team__types_container_descr, .steps .team__members_container_block_person_descr_pos, .steps .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.projects__completed_text, .projects__completed_header_head_descr, .repairs__descr_text, .repairs__descr_inputs input, .repairs__descr_inputs input::placeholder, .repairs__descr_inputs_label, .repairs__descr_inputs_agree label, .repairs__types_designs_name li, .repairs__request_form_blank_inputs_label, .repairs__request_form_blank_inputs_label-agree, .design-project__descr_text, .design-project__types_designs_name li, .steps__container_descr_block_text, .steps .team__types_container_descr, .steps .team__members_container_block_person_descr_pos, .steps .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.styles__container_list_button_link {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

.nav__menu_link {
  font-family: "FuturaBookC";
  color: #FFFFFF;
}

.nav__menu-tel_tel {
  text-decoration: underline;
  color: #E3B873;
  font-family: "FuturaDemiC";
}

.nav__menu-button_button {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav .logo__text {
  font-family: "FuturaDemiC";
  color: #E3B873;
}

.upper-block__instagram_link {
  color: #E3B873;
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
}

.upper-block__instagram_link_text {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.upper-block__description {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  color: #FFFFFF;
}

.upper-block__description_repair {
  text-transform: uppercase;
}

.upper-block__description_city {
  color: #E3B873;
}

.upper-block__description_cost {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.upper-block__description_buttons_calculate, .upper-block__description_buttons_submit {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.scroll-down__button {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.projects__completed_par {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
}

.projects__completed_text {
  font-size: 18px;
  line-height: 29px;
}

.projects__completed_header_head {
  font-size: 18px;
  line-height: 25px;
}

.projects__completed_header_head_descr {
  font-size: 15px;
  line-height: 20px;
}

.projects__works_cities_city_link {
  color: rgba(255, 255, 255, 0.3);
}

.projects__works_cities_city_link:hover {
  color: #E3B873;
}

.projects__online_text {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.repairs__descr_text {
  color: #363636;
  font-size: 20px;
  line-height: 34px;
}

.repairs__descr_inputs input {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.repairs__descr_inputs input::-webkit-input-placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.repairs__descr_inputs input:-ms-input-placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.repairs__descr_inputs input::-ms-input-placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.repairs__descr_inputs input::placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.repairs__descr_inputs_label {
  color: rgba(54, 54, 54, 0.5);
}

.repairs__descr_inputs_button_submit {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.repairs__descr_inputs_agree label {
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

.repairs__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
}

.repairs__types_designs_name_img_head {
  font-family: "YesevaOne";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.repairs__types_designs_name_price {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repairs__types_designs_name li {
  line-height: 25px;
  color: #959595;
  list-style-position: inside;
}

.repairs__request_form_blank_head {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.repairs__request_form_blank_inputs_label {
  color: rgba(255, 255, 255, 0.5);
}

.repairs__request_form_blank_inputs_label-agree {
  font-size: 16px;
  line-height: 22px;
}

.repairs__request_form_blank_inputs_button_submit {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.repairs__request_form_blank input {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repairs__request_form_blank input::-webkit-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repairs__request_form_blank input:-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repairs__request_form_blank input::-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repairs__request_form_blank input::placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repairs__request_form_save_text {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.styles__container_list_head {
  font-size: 27px;
  line-height: 37px;
}

.styles__container_list_button_link:hover {
  color: #E3B873;
}

.design-project__descr_text {
  color: #363636;
  font-size: 20px;
  line-height: 34px;
}

.design-project__types_container_descr {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}

.design-project__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
}

.design-project__types_designs_name_img_head {
  font-family: "YesevaOne";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.design-project__types_designs_name_price {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.design-project__types_designs_name li {
  line-height: 25px;
  color: #959595;
  list-style-position: inside;
}

.steps__container_descr_working_par {
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.steps__container_descr_working_header {
  font-size: 27px;
  line-height: 37px;
}

.steps__container_descr_block_page {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.steps__container_descr_block_header {
  font-size: 15px;
  line-height: 23px;
}

.steps__container_works_step_link_page {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #E3B873;
}

.steps__container_works_step_link_descr {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.3);
}

.steps .team__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.steps .team__types_container_descr {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.steps .team__members_container_block_person_descr_name {
  font-size: 18px;
  line-height: 25px;
  color: #181818;
}

.steps .team__members_container_block_person_descr_pos {
  font-size: 18px;
  line-height: 26px;
  color: #959595;
}

.steps .team__members_container_block_person_exp {
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

.steps .team__descr_text {
  font-size: 20px;
  line-height: 34px;
  color: #363636;
}

.clients__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
}

.clients__types_container_descr {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #181818;
}

.clients__reviews_container_user_name {
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.clients__reviews_container_user_review {
  font-size: 15px;
  line-height: 180%;
  color: #959595;
}

.clients__reviews_container_user_type {
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}

.clients .ask__head {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.clients .ask__inputs_label {
  color: rgba(255, 255, 255, 0.5);
}

.clients .ask__inputs_label_agree {
  font-size: 16px;
  line-height: 22px;
}

.clients .ask__inputs_button_submit {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.clients .ask input {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input::-webkit-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input:-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input::-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input::placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.address__container_info_descr {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #E3B873;
}

nav .nav__menu_link:hover {
  color: #E3B873;
}

nav .nav__menu-button_button {
  background-color: #E3B873;
  width: 161px;
  height: 37px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}

nav .nav__menu-button_button:hover {
  background-color: #ecce9e;
}

nav .nav__menu-tel_tel:hover {
  color: #fff;
}

.upper-block__instagram_link:hover {
  background: #2d2d2d;
  color: #fff;
}

.upper-block__description_buttons_calculate {
  margin-right: 20px;
  width: 207px;
  height: 51px;
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

.upper-block__description_buttons_calculate:hover {
  background-color: #ecce9e;
}

.upper-block__description_buttons_submit {
  width: 207px;
  height: 51px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.upper-block__description_buttons_submit:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.scroll-down:hover {
  background: #2d2d2d;
}

.scroll-down__button:hover {
  color: #E3B873;
}

.projects__completed_arrows_left, .projects__completed_arrows_right {
  font-size: 40.51px;
  color: rgba(255, 255, 255, 0.3);
}

.projects__completed_arrows_left:hover, .projects__completed_arrows_right:hover {
  color: #fff;
}

.projects__completed_arrows_circle {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
}

.projects__completed_arrows_circle:hover {
  background: #fff;
}

.projects__works_cities_city_link:hover {
  color: #E3B873;
  padding-bottom: 6.88px;
  border-bottom: 1px solid #E3B873;
}

.projects__works_designs_slider:hover {
  background: #ecce9e;
}

.repairs__descr_inputs_button_submit {
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.repairs__descr_inputs_button_submit:hover {
  background: #ecce9e;
}

.repairs__request_form_blank_inputs_button_submit {
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.repairs__request_form_blank_inputs_button_submit:hover {
  background: #ecce9e;
}

.styles__container_list_button_link:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid #E3B873;
}

.steps__container_descr_arrows_left, .steps__container_descr_arrows_right {
  font-size: 40.51px;
  color: rgba(255, 255, 255, 0.3);
}

.steps__container_descr_arrows_left:hover, .steps__container_descr_arrows_right:hover {
  color: #fff;
}

.steps__container_descr_arrows_circle {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
}

.steps__container_descr_arrows_circle:hover {
  background: #fff;
}

.steps__container_works_step:hover .steps__container_works_step_link_page, .steps__container_works_step:hover .steps__container_works_step_link_descr {
  color: #fff;
}

.ask__inputs_button_submit {
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.ask__inputs_button_submit:hover {
  background: #ecce9e;
}

.address__container_info_social_link:hover {
  background: #ecce9e;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 1440px;
  margin: 0 auto;
}

nav {
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 82px;
  margin-right: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #131313;
}

header .logo {
  float: left;
}

header .nav__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav__menu_link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav__menu-button_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upper-block {
  height: 707px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72))), url("assets/main-bg.png");
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("assets/main-bg.png");
}

.upper-block__instagram {
  margin-right: 60px;
  height: 100%;
  float: left;
  background: #131313;
}

.upper-block__instagram_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.upper-block__instagram_link_text {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.upper-block__description {
  height: 100%;
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper-block__description_repair {
  margin-top: 194px;
}

.upper-block__description_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 208px;
}

.upper-block__description_buttons_calculate, .upper-block__description_buttons_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 50px;
  width: 247px;
  height: 97px;
  background-color: #131313;
}

.scroll-down__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.scroll-down__button svg {
  margin-left: 12px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 1074px;
  background: #131313;
}

.projects__completed {
  margin-top: 176.36px;
  margin-left: 101.45px;
  margin-right: 70px;
}

.projects__completed_par {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.projects__completed_header_head_descr {
  width: 100px;
}

.projects__completed_arrows {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__completed_arrows_left, .projects__completed_arrows_right {
  display: inline-block;
}

.projects__completed_arrows_left {
  margin-right: 29px;
}

.projects__completed_arrows_right {
  margin-left: 29px;
}

.projects__completed_arrows_circle {
  display: inline-block;
  height: 9.57px;
  width: 9.57px;
}

.projects__completed_text {
  margin-top: 34px;
}

.projects__completed_header {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__completed_header_head {
  width: 172px;
  margin-bottom: 34px;
}

.projects__completed_header_head_descr {
  margin-top: 8px;
}

.projects__works {
  margin-top: 107px;
}

.projects__works_cities {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__works_designs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 52.68px;
}

.projects__works_designs_slider {
  display: block;
  position: relative;
  top: 210px;
  left: 90px;
  background: #E3B873;
  height: 54.72px;
  width: 54.72px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
}

.projects__works_designs_slider_link {
  display: block;
  height: 100%;
  width: 100%;
}

.projects__works_designs_slider svg {
  position: relative;
  top: 17px;
  left: 22px;
}

.projects__online {
  margin-top: 90px;
  position: relative;
  display: block;
  left: 311px;
}

.projects__online_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 817px;
}

.projects__online_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__online_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__online_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.projects__online_control {
  height: 434px;
  margin-top: 31px;
  text-align: center;
  display: block;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.repairs {
  margin-top: 275px;
  margin-bottom: 250px;
  background: #fff;
}

.repairs__descr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repairs__descr_line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repairs__descr_line_horizontal {
  width: 55px;
  height: 1.54px;
  background: #E3B873;
  border-radius: 30px;
}

.repairs__descr_text {
  width: 680px;
  text-align: center;
}

.repairs__descr_inputs {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 770px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repairs__descr_inputs_name, .repairs__descr_inputs_phone {
  width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repairs__descr_inputs_name {
  margin-right: 58px;
}

.repairs__descr_inputs_phone {
  margin-right: 49px;
}

.repairs__descr_inputs_label {
  width: 231px;
}

.repairs__descr_inputs input:not([type="checkbox"]) {
  width: 231px;
  border: 0px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.repairs__descr_inputs_button_submit {
  width: 200px;
  height: 51px;
  border: none;
}

.repairs__descr_inputs_agree {
  margin-top: 37px;
}

.repairs__descr_inputs_agree label {
  margin-left: 8px;
}

.repairs__descr_text {
  margin-top: 34.46px;
}

.repairs__types {
  height: 725px;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repairs__types_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repairs__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repairs__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.repairs__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.repairs__types_designs {
  width: 100%;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 102px;
  margin-right: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repairs__types_designs_name_img_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 330px;
  display: flex;
  background: #fff;
  left: 31px;
  bottom: 127px;
}

.repairs__types_designs_name_img_head_container {
  margin: 25px 68px 49px 34px;
}

.repairs__types_designs_name_img_head_container ul {
  margin-top: 15px;
}

.repairs__types_designs_name_img_head_container ul li {
  list-style-position: inside;
}

.repairs__types_designs_name_price {
  width: 228px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 28px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.repairs__request {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.repairs__request_stages {
  height: 636px;
  width: 636px;
  border-radius: 100%;
  border: 1.5px solid #E3B873;
}

.repairs__request_form {
  width: 509px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repairs__request_form_blank {
  width: 509px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #131313;
}

.repairs__request_form_blank_head {
  margin-top: 28px;
  width: 270px;
}

.repairs__request_form_blank_inputs {
  width: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repairs__request_form_blank_inputs_button_submit {
  width: 213px;
  height: 51px;
  border: none;
}

.repairs__request_form_blank_inputs_name, .repairs__request_form_blank_inputs_phone, .repairs__request_form_blank_inputs_email {
  width: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repairs__request_form_blank_inputs_name_agree, .repairs__request_form_blank_inputs_phone_agree, .repairs__request_form_blank_inputs_email_agree {
  width: 406px;
}

.repairs__request_form_blank_inputs_phone, .repairs__request_form_blank_inputs_email {
  margin-top: 48px;
}

.repairs__request_form_blank_inputs_label {
  width: 406px;
}

.repairs__request_form_blank_inputs_label-agree {
  width: 406px;
  margin-left: 8.62px;
}

.repairs__request_form_blank_inputs input[type="text"], .repairs__request_form_blank_inputs input[type="text"], .repairs__request_form_blank_inputs input[type="email"] {
  width: 406px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: #131313;
}

.repairs__request_form_blank_inputs_button {
  margin: 39px 0px 27px 195px;
}

.repairs__request_form_blank_inputs_agree {
  margin-top: 16px;
}

.repairs__request_form_save {
  margin-top: 38.44px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repairs__request_form_save_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background: #E3B873;
}

.repairs__request_form_save_text {
  width: 220px;
}

.styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 864px;
  background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url("assets/stylesbg.png");
}

.styles__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 102px;
  margin-left: 99px;
}

.styles__container_list {
  margin-right: 205px;
  margin-top: 47px;
  width: 299px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.styles__container_list_head {
  margin-top: 90px;
  margin-bottom: 47px;
  width: 300px;
}

.styles__container_list_button {
  width: 100%;
}

.styles__container_list_button:not(:last-child) {
  margin-bottom: 22px;
}

.styles__images_sample {
  position: relative;
}

.styles__images_sample:nth-child(1) {
  margin-right: 23px;
  bottom: 40.53px;
}

.styles__images_sample:nth-child(2) {
  bottom: 394px;
}

.styles__images_sample:nth-child(3) {
  margin-right: 23px;
  bottom: 282px;
}

.styles__images_sample:nth-child(4) {
  bottom: 362px;
}

.design-project {
  height: 470px;
}

.design-project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-project__types {
  height: 725px;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design-project__types_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design-project__types_container_descr {
  width: 660px;
  margin-top: 24px;
}

.design-project__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-project__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design-project__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.design-project__types_designs {
  height: 700px;
  position: relative;
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 102px;
  margin-right: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-project__types_designs_name_img {
  max-height: 700px;
}

.design-project__types_designs_name_img_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 330px;
  display: flex;
  background: #fff;
  left: 31px;
  bottom: 127px;
}

.design-project__types_designs_name_img_head_container {
  margin: 25px 68px 0px 34px;
}

.design-project__types_designs_name_img_head_container ul {
  margin-top: 15px;
  margin-bottom: 50px;
}

.design-project__types_designs_name_img_head_container ul li {
  list-style-position: inside;
}

.design-project__types_designs_name_price {
  width: 228px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 155px;
  left: 31px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.steps {
  height: 1220px;
  padding-top: 429px;
  background: #131313;
}

.steps__container {
  margin-left: 99px;
  margin-right: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps__container_descr {
  margin-right: 140px;
  width: 337px;
}

.steps__container_descr_working_header {
  margin-top: 20px;
}

.steps__container_descr_block {
  margin-top: 92px;
}

.steps__container_descr_block_header {
  width: 240px;
  margin-top: 22px;
}

.steps__container_descr_block_text:last-child {
  margin-top: 15px;
}

.steps__container_descr_block_text {
  margin-top: 20px;
}

.steps__container_descr_arrows {
  margin-top: 100px;
}

.steps__container_descr_arrows {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__container_descr_arrows_left, .steps__container_descr_arrows_right {
  display: inline-block;
}

.steps__container_descr_arrows_left {
  margin-right: 29px;
}

.steps__container_descr_arrows_right {
  margin-left: 29px;
}

.steps__container_descr_arrows_circle {
  display: inline-block;
  height: 9.57px;
  width: 9.57px;
}

.steps__container_descr_arrows_circle:not(:last-child) {
  margin-right: 10px;
}

.steps__container_works {
  width: 766px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__container_works_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 125px;
  margin-bottom: 40px;
}

.steps__container_works_step:not(:nth-child(3n)) {
  margin-right: 195px;
}

.steps__container_works_step_link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__container_works_step_link_descr {
  margin-top: 12px;
}

.steps__container_works img {
  margin-top: 20px;
}

.steps .team {
  position: relative;
  margin-top: 95px;
}

.steps .team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .team__types {
  height: 725px;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps .team__types_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps .team__types_container_descr {
  width: 450px;
  margin-top: 24px;
}

.steps .team__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .team__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps .team__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.steps .team__members {
  margin: 80px 205px 0px 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps .team__members_container_block_person {
  position: relative;
  left: 20px;
  bottom: 86px;
  width: 233px;
  background: #fff;
}

.steps .team__members_container_block_person_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .team__members_container_block_person_descr_name {
  margin-top: 22px;
  width: 100%;
  text-align: center;
}

.steps .team__members_container_block_person_descr_pos {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.steps .team__members_container_block_person_exp {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E3B873;
}

.steps .team__descr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .team__descr_line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .team__descr_line_hor {
  width: 55px;
  height: 1.54px;
  background: #E3B873;
  border-radius: 30px;
}

.steps .team__descr_text {
  margin-top: 17px;
  width: 560px;
  text-align: center;
}

.clients {
  height: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 460px;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__types {
  height: 725px;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__types_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__types_container_descr {
  width: 350px;
  margin-top: 24px;
}

.clients__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.clients__reviews {
  margin-left: 102px;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__reviews_container {
  height: 430px;
  padding: 24px 31px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__reviews_container_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.clients__reviews_container_user img {
  border-radius: 50%;
}

.clients__reviews_container_user_name {
  margin-left: 20px;
  width: 182px;
}

.clients__reviews_container_user_review {
  margin-top: 20px;
  margin-bottom: 55px;
}

.clients__reviews_container_user_type {
  position: relative;
  width: 294px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.clients__reviews_container_user_type_info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__reviews_container_user_type_info:not(:last-child) {
  border-right: 1px solid #fff;
}

.clients__reviews_container_user_type_info svg {
  margin-right: 15px;
}

.clients .ask {
  position: relative;
  top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 883px;
  height: 445px;
  background: #131313;
}

.clients .ask__head {
  margin-top: 34.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 520px;
}

.clients .ask__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 520px;
}

.clients .ask__inputs_name, .clients .ask__inputs_phone, .clients .ask__inputs_questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients .ask__inputs input:not([type="checkbox"]) {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: none;
}

.clients .ask__inputs_question {
  margin-top: 46px;
  width: 520px;
}

.clients .ask__inputs_question input {
  width: 100%;
}

.clients .ask__inputs_agree {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.clients .ask__inputs_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients .ask__inputs_button_submit {
  margin-bottom: 34.4px;
  margin-top: 50px;
  width: 200px;
  height: 51px;
  border: none;
}

.clients .ask__inputs_label {
  width: 100%;
}

.clients .ask__inputs_label_agree {
  margin-left: 9px;
}

.address {
  height: 954px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72))), url("assets/mapbg.png");
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("assets/mapbg.png");
}

.address__container {
  width: 925px;
  margin: 0 auto;
}

.address__container_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address__container_info_descr {
  margin-top: 275px;
  display: inline-block;
  text-align: center;
  width: 570px;
}

.address__container_info_social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
  margin-bottom: 43px;
}

.address__container_info_social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #E3B873;
}

.address__container_info_social_link:nth-child(1) {
  margin-right: 15px;
}

.address__container_info img {
  margin: 0 auto;
}

footer nav {
  height: 133px;
}
/*# sourceMappingURL=style.css.map */