@font-face {
  font-family: "FuturaDemiC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/FuturaDemiC.woff") format("woff");
}

@font-face {
  font-family: "FuturaBookC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/FuturaBookC.woff") format("woff");
}

@font-face {
  font-family: "FuturaMediumC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/FuturaMediumC.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: normal;
  font-style: normal;
  src: url("assets/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "YesevaOne";
  font-weight: normal;
  font-style: normal;
  src: url("assets/YesevaOne.woff") format("woff");
}

.nav__menu_link, .nav .logo__text, .instagram__link {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.projects .completed__par, .projects .completed .work__head, .projects .cities__city_link, .online__text, .repairs__types_text, .repairs__types_designs_name_price, .styles__container_list_head, .design-project__types_text, .design-project__types_designs_name_price, .steps__container_descr_working_header, .steps__container_descr_block_page, .steps__container_descr_block_header, .team__types_text, .team .persons__descr_name, .team .persons__exp, .clients__types_text, .clients__reviews_container_user_name, .clients__reviews_container_user_type, .clients .ask__head {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #E3B873;
}

.projects .completed__text, .projects .completed .work__head_descr, .online__descr_text, .online__form input, .online__form input::-webkit-input-placeholder, .online__form_label, .online__form_agree label, .repairs__types_designs_name li, .request__inputs_label, .request__inputs_label-agree, .design-project__descr_text, .design-project__types li, .steps__container_descr_block_text, .team__types_container_descr, .team .persons__descr_pos, .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.projects .completed__text, .projects .completed .work__head_descr, .online__descr_text, .online__form input, .online__form input:-ms-input-placeholder, .online__form_label, .online__form_agree label, .repairs__types_designs_name li, .request__inputs_label, .request__inputs_label-agree, .design-project__descr_text, .design-project__types li, .steps__container_descr_block_text, .team__types_container_descr, .team .persons__descr_pos, .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.projects .completed__text, .projects .completed .work__head_descr, .online__descr_text, .online__form input, .online__form input::-ms-input-placeholder, .online__form_label, .online__form_agree label, .repairs__types_designs_name li, .request__inputs_label, .request__inputs_label-agree, .design-project__descr_text, .design-project__types li, .steps__container_descr_block_text, .team__types_container_descr, .team .persons__descr_pos, .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.projects .completed__text, .projects .completed .work__head_descr, .online__descr_text, .online__form input, .online__form input::placeholder, .online__form_label, .online__form_agree label, .repairs__types_designs_name li, .request__inputs_label, .request__inputs_label-agree, .design-project__descr_text, .design-project__types li, .steps__container_descr_block_text, .team__types_container_descr, .team .persons__descr_pos, .team__descr_text, .clients__reviews_container_user_review, .clients .ask__inputs_label, .clients .ask__inputs_label_agree {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.styles__container_list_button_link {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

.nav__menu_link {
  font-family: "FuturaBookC";
  color: #FFFFFF;
}

.nav__menu-tel_tel {
  text-decoration: underline;
  color: #E3B873;
  font-family: "FuturaDemiC";
}

.nav__menu-button_button {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav .logo__text {
  font-family: "FuturaDemiC";
  color: #E3B873;
}

.instagram__link {
  color: #E3B873;
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
}

.description {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  color: #FFFFFF;
}

.description__repair {
  text-transform: uppercase;
}

.description__repair h2 {
  font-size: 40px;
  line-height: 53px;
}

.description__repair_city {
  color: #E3B873;
}

.description__cost {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.description__buttons_calculate, .description__buttons_submit, .description__buttons_application {
  font-family: "FuturaDemiC";
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.scroll-down__button {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.projects .completed__par {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
}

.projects .completed__par h2 {
  font-size: 27px;
  line-height: 37px;
}

.projects .completed__text {
  font-size: 18px;
  line-height: 29px;
}

.projects .completed .work__head {
  font-size: 18px;
  line-height: 25px;
}

.projects .completed .work__head_descr {
  font-size: 15px;
  line-height: 20px;
}

.projects .cities__city_link {
  color: rgba(255, 255, 255, 0.3);
}

.projects .cities__city_link:hover {
  color: #E3B873;
}

.online__text {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.online__text h2 {
  font-size: 20px;
  line-height: 28px;
}

.online__descr_text {
  color: #363636;
  font-size: 20px;
  line-height: 34px;
}

.online__form input {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.online__form input::-webkit-input-placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.online__form input:-ms-input-placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.online__form input::-ms-input-placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.online__form input::placeholder {
  color: #363636;
  font-size: 18px;
  line-height: 24px;
}

.online__form_label {
  color: rgba(54, 54, 54, 0.5);
}

.online__form_button_submit {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.online__form_agree label {
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

.repairs__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
}

.repairs__types_designs_name_head {
  font-family: "YesevaOne";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.repairs__types_designs_name_price {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.repairs__types_designs_name li {
  line-height: 25px;
  color: #959595;
  list-style-position: inside;
}

.request .stages__stage_num {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.request .stages__stage_text {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.request__form_blank_head {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.request__form_blank input {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.request__form_blank input::-webkit-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.request__form_blank input:-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.request__form_blank input::-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.request__form_blank input::placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.request__form_save_text {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.request__inputs_label {
  color: rgba(255, 255, 255, 0.5);
}

.request__inputs_label-agree {
  font-size: 16px;
  line-height: 22px;
}

.request__inputs_button_submit {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.styles__container_list_head {
  font-size: 27px;
  line-height: 37px;
}

.styles__container_list_button_link:hover {
  color: #E3B873;
}

.design-project__descr_text {
  color: #363636;
  font-size: 20px;
  line-height: 34px;
}

.design-project__types_container_descr {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}

.design-project__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
}

.design-project__types_designs_name_price {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.design-project__types_designs_name_head {
  font-family: "YesevaOne";
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.design-project__types li {
  line-height: 25px;
  color: #959595;
  list-style-position: inside;
}

.steps__container_descr_working_par {
  font-family: "FuturaDemiC";
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.steps__container_descr_working_header {
  font-size: 27px;
  line-height: 37px;
}

.steps__container_descr_block_page {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.steps__container_descr_block_header {
  font-size: 15px;
  line-height: 23px;
}

.steps__container_works_steps_step_page {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  border-bottom: 1px solid #E3B873;
}

.steps__container_works_steps_step_descr {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 18px;
}

.team__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.team__types_container_descr {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.team .persons__descr_name {
  font-size: 18px;
  line-height: 25px;
  color: #181818;
}

.team .persons__descr_pos {
  font-size: 18px;
  line-height: 26px;
  color: #959595;
}

.team .persons__exp {
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

.team__descr_text {
  font-size: 20px;
  line-height: 34px;
  color: #363636;
}

.clients__types_text {
  font-size: 20px;
  line-height: 28px;
  color: #181818;
}

.clients__types_container_descr {
  font-family: "FuturaBookC";
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #181818;
}

.clients__reviews_container_user_name {
  font-size: 18px;
  line-height: 23px;
  color: #181818;
}

.clients__reviews_container_user_review {
  font-size: 15px;
  line-height: 180%;
  color: #959595;
}

.clients__reviews_container_user_type {
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}

.clients .ask__head {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.clients .ask__inputs_label {
  color: rgba(255, 255, 255, 0.5);
}

.clients .ask__inputs_label_agree {
  font-size: 16px;
  line-height: 22px;
}

.clients .ask__inputs_button_submit {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.clients .ask input {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input::-webkit-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input:-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input::-ms-input-placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.clients .ask input::placeholder {
  font-family: "FuturaMediumC";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.address__container_info_descr {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #E3B873;
}

@media only screen and (min-width: 376px) {
  .design-project__types_text {
    color: #181818 !important;
    font-size: 22px;
    line-height: 138.6%;
  }
  .design-project__types_container_descr {
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    font-size: 15px;
    line-height: 135.84%;
    color: #181818 !important;
  }
  .design-project-mob__types_designs_name_img_head_container {
    font-family: "YesevaOne";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 138.6%;
    color: #363636;
  }
  .design-project-mob__types_designs_name_img_head ul {
    font-family: "FuturaBookC";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 169.8%;
    color: #959595;
  }
  .design-project-mob__types_designs_name_price {
    font-family: "YesevaOne";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 1024px) {
  .nav .logo__text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
  }
  .nav .nav__menu-tel_tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }
  .description__repair h2 {
    font-size: 23px;
    line-height: 132.83%;
  }
  .description__cost {
    font-size: 18px;
    line-height: 135.84%;
  }
  .projects .completed__par h2 {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
  }
  .projects .completed__text {
    font-size: 14px;
    line-height: 158.48%;
    text-align: center;
  }
  .projects .completed .work__head {
    font-size: 14px;
    line-height: 138.6%;
  }
  .online__text {
    width: 200px !important;
  }
  .online__text h2 {
    font-size: 22px;
    line-height: 138.6%;
  }
  .online__descr_text {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    line-height: 169.8%;
    color: #FFFFFF;
  }
  .online__form input {
    color: #FFFFFF !important;
    font-size: 18px;
    line-height: 24px;
  }
  .online__form input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #FFFFFF !important;
  }
  .online__form input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #FFFFFF !important;
  }
  .online__form input::-ms-input-placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #FFFFFF !important;
  }
  .online__form input::placeholder {
    font-size: 18px;
    line-height: 138.72%;
    color: #FFFFFF !important;
  }
  .online__form_label {
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .online__form_agree-mob_label {
    font-family: "FuturaBookC";
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .repairs__types_text {
    font-size: 22px;
    line-height: 138.6%;
  }
  .repairs li {
    font-size: 13px;
    line-height: 22.07px;
  }
  .styles__container_list_head {
    text-align: center;
  }
  .design-project__types_text {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 138.6%;
  }
  .design-project__types_container_descr {
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    font-size: 15px;
    line-height: 135.84%;
    color: #FFFFFF;
  }
  .design-project-mob__types_designs_name_img_head_container {
    font-family: "YesevaOne";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 138.6%;
    color: #363636;
  }
  .design-project-mob__types_designs_name_img_head ul {
    font-family: "FuturaBookC";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 169.8%;
    color: #959595;
  }
  .design-project-mob__types_designs_name_price {
    font-family: "YesevaOne";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .team__types_text {
    font-size: 22px;
    line-height: 138.6%;
  }
  .team__types_container_descr {
    font-size: 15px;
    line-height: 135.84%;
  }
  .address__container_info_descr {
    font-size: 18px;
    line-height: 138.6%;
  }
}

nav .nav__menu_link:hover {
  color: #E3B873;
}

nav .nav__menu-button_button {
  background-color: #E3B873;
  width: 161px;
  height: 37px;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}

nav .nav__menu-button_button:hover {
  background-color: #ecce9e;
}

nav .nav__menu-tel_tel:hover {
  color: #fff;
}

.instagram__link:hover {
  background: #2d2d2d;
  color: #fff;
}

.instagram__link:hover .instagram__link_img {
  background: #fff;
}

.description__buttons_calculate {
  margin-right: 20px;
  width: 207px;
  height: 51px;
  background-color: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

.description__buttons_calculate:hover {
  background-color: #ecce9e;
}

.description__buttons_submit, .description__buttons_application {
  width: 207px;
  height: 51px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.description__buttons_submit:hover, .description__buttons_application:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.scroll-down:hover {
  background: #2d2d2d;
}

.scroll-down__button:hover {
  color: #E3B873;
}

.projects .completed__slider_arrow-left, .projects .completed__slider_arrow-right {
  font-size: 40.51px;
  color: rgba(255, 255, 255, 0.3);
}

.projects .completed__slider_arrow-left:hover, .projects .completed__slider_arrow-right:hover {
  color: #fff;
}

.projects .completed__slider_circle {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
}

.projects .completed__slider_circle:hover {
  background: #fff;
}

.projects__works .cities__city_link:hover {
  color: #E3B873;
  padding-bottom: 6.88px;
  border-bottom: 1px solid #E3B873;
}

.projects__works_designs_slider:hover {
  background: #ecce9e;
}

.online__form_button_submit {
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.online__form_button_submit:hover {
  background: #ecce9e;
}

.request__inputs_button_submit {
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.request__inputs_button_submit:hover {
  background: #ecce9e;
}

.styles__container_list_button_link:hover {
  padding-bottom: 4px;
  border-bottom: 1px solid #E3B873;
}

.steps__container_descr_arrows_left, .steps__container_descr_arrows_right {
  font-size: 40.51px;
  color: rgba(255, 255, 255, 0.3);
}

.steps__container_descr_arrows_left:hover, .steps__container_descr_arrows_right:hover {
  color: #fff;
}

.steps__container_descr_arrows_circle {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
}

.steps__container_descr_arrows_circle:hover {
  background: #fff;
}

.steps__container_works_steps_step {
  color: rgba(255, 255, 255, 0.3);
}

.steps__container_works_steps_step:hover {
  color: #fff;
  cursor: pointer;
}

.ask__inputs_button_submit {
  cursor: pointer;
  background: #E3B873;
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
}

.ask__inputs_button_submit:hover {
  background: #ecce9e;
}

.address__container_info_social_link:hover {
  background: #ecce9e;
}

.swipe-left {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .projects .completed__slider {
    display: none !important;
  }
  .projects__works_designs_slider {
    display: none !important;
  }
  .projects__works_designs_slider-right, .projects__works_designs_slider-left {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    top: 916px;
    width: 36px;
    height: 36px;
    position: absolute;
    background: #E3B873;
    border-radius: 50%;
  }
  .projects__works_designs_slider-right {
    left: 310px;
  }
  .projects__works_designs_slider-left {
    left: 33px;
  }
}

* {
  margin: 0;
  padding: 0;
}

* img {
  display: block;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

nav {
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #131313;
}

header .nav__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav__menu_link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav__menu-button_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-upper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 707px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72))), url("assets/main-bg.png");
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("assets/main-bg.png");
}

.main-upper .instagram {
  margin-right: 60px;
  height: 100%;
  background: #131313;
}

.main-upper .instagram__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-width: 110px;
}

.main-upper .instagram__link_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-upper .instagram__link_img {
  margin-left: 20px;
  height: 1.54px;
  width: 51px;
  background: #E3B873;
}

.main-upper .description__container {
  max-width: 520px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-upper .description__repair {
  margin-top: 194px;
}

.main-upper .description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 208px;
}

.main-upper .description__buttons_calculate, .main-upper .description__buttons_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-upper .description__buttons_application {
  display: none;
}

.scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -48px;
  width: 247px;
  height: 97px;
  background-color: #131313;
}

.scroll-down__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.scroll-down__button svg {
  margin-left: 12px;
}

.projects {
  padding-top: 176.36px;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #131313;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.projects .completed {
  margin-right: 50px;
}

.projects .completed__par {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .completed__par .line-block {
  margin-top: 35px;
  margin-left: 5px;
}

.projects .completed__par .line-block__line {
  width: 92px;
  height: 1px;
  background: #E3B873;
}

.projects .completed__slider {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .completed__slider_arrow-left, .projects .completed__slider_arrow-right {
  display: inline-block;
}

.projects .completed__slider_arrow-left {
  margin-right: 29px;
}

.projects .completed__slider_arrow-right {
  margin-left: 29px;
}

.projects .completed__slider_circle {
  display: inline-block;
  height: 9.57px;
  width: 9.57px;
}

.projects .completed__text {
  margin-top: 34px;
}

.projects .completed .work {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .completed .work__head {
  width: 172px;
  margin-bottom: 34px;
}

.projects .completed .work__head_descr {
  margin-top: 8px;
}

.projects__works .cities {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__works_designs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 52.68px;
}

.projects__works_designs .des-sec {
  margin-left: 21px;
}

.projects__works_designs_slider {
  display: block;
  position: absolute;
  top: 210px;
  right: 45px;
  background: #E3B873;
  height: 54.72px;
  width: 54.72px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
}

.projects__works_designs_slider_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.projects__works_designs_slider-left, .projects__works_designs_slider-right {
  display: none;
}

.projects__works_designs_des-mob {
  display: none;
}

input {
  outline: none;
}

.online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#131313), color-stop(50%, #131313), color-stop(44%, #fff));
  background: linear-gradient(to bottom, #131313 0%, #131313 50%, #fff 44%);
}

.online__text {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online__text h2 {
  width: 100%;
  text-align: center;
}

.online__text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.online__text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.online__control {
  max-height: 434px;
  margin-top: 31px;
  text-align: center;
  display: block;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.online__control iframe {
  border: none;
}

.online__descr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online__descr_line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online__descr_line_horizontal {
  width: 55px;
  height: 1.54px;
  background: #E3B873;
  border-radius: 30px;
}

.online__descr_text {
  margin-top: 34.46px;
  width: 680px;
  text-align: center;
}

.online__form {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 770px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online__form_name, .online__form_phone {
  width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.online__form_name {
  margin-right: 58px;
}

.online__form_phone {
  margin-right: 49px;
}

.online__form_label {
  width: 231px;
}

.online__form input:not([type="checkbox"]) {
  width: 231px;
  border: 0px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.online__form_button_submit {
  width: 200px;
  height: 51px;
  border: none;
}

.online__form_agree {
  margin-top: 37px;
}

.online__form_agree label {
  margin-left: 8px;
}

.online__form_agree-mob {
  display: none;
}

.repairs {
  padding: 147px 100px 0;
  background: #fff;
}

.repairs__types {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repairs__types_container {
  width: 100%;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repairs__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repairs__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.repairs__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.repairs__types_designs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.repairs__types_designs_name {
  padding: 0 3px 300px;
  position: relative;
}

.repairs__types_designs_name_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 330px;
  display: flex;
  background: #fff;
  left: 31px;
  top: 300px;
}

.repairs__types_designs_name_head_container {
  margin: 25px 68px 49px 34px;
}

.repairs__types_designs_name_head_container ul {
  margin-top: 15px;
}

.repairs__types_designs_name_head_container ul li {
  list-style-position: inside;
}

.repairs__types_designs_name_price {
  width: 228px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -27px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.request {
  padding: 0 100px 220px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.request__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.request__advantages_circle .circle {
  position: absolute;
  left: -181px;
  width: 636px;
  height: 636px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, right top, from(#fff), color-stop(20%, #fff), color-stop(20%, #fff), to(#E3B873)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #fff 0%, #fff 20%, #fff 20%, #E3B873 100%) border-box;
  border: 3px solid transparent;
}

.request__advantages_circle .circle + img {
  position: relative;
  z-index: 2;
}

.request .stages {
  position: absolute;
  width: 50%;
  max-width: 423px;
  height: 475px;
  z-index: 1;
}

.request .stages__stage {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #fff;
}

.request .stages__stage:nth-of-type(1) {
  left: -18px;
}

.request .stages__stage:nth-of-type(2) {
  left: 72px;
  top: 140px;
}

.request .stages__stage:nth-of-type(3) {
  left: 86px;
  top: 270px;
}

.request .stages__stage:nth-of-type(4) {
  left: 45px;
  top: 400px;
}

.request .stages__stage_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41.76px;
  height: 41.76px;
  margin-right: 14px;
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
}

.request .stages__stage .text-2,
.request .stages__stage .text-3 {
  width: auto;
  max-width: 86%;
}

.request .stages__stage_text {
  width: 86%;
}

.request__inputs {
  width: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__inputs_button_submit {
  width: 213px;
  height: 51px;
  border: none;
}

.request__inputs_name, .request__inputs_phone, .request__inputs_email {
  width: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.request__inputs_name_agree, .request__inputs_phone_agree, .request__inputs_email_agree {
  width: 406px;
}

.request__inputs_phone, .request__inputs_email {
  margin-top: 48px;
}

.request__inputs_label {
  width: 406px;
}

.request__inputs_label-agree {
  width: 406px;
  margin-left: 8.62px;
}

.request__inputs input[type="text"], .request__inputs input[type="text"], .request__inputs input[type="email"] {
  width: 406px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: #131313;
}

.request__inputs_button {
  margin: 39px 0px 27px 195px;
}

.request__inputs_agree {
  margin-top: 16px;
}

.request__form {
  width: 509px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__form_blank {
  width: 509px;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #131313;
}

.request__form_blank_head {
  margin-top: 28px;
  width: 270px;
}

.request__form_save {
  margin-top: 38.44px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request__form_save_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background: #E3B873;
}

.request__form_save_text {
  width: 220px;
}

.styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(120.96deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url("assets/stylesbg.png");
}

.styles__container {
  position: relative;
  padding: 0 100px 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.styles__container_list {
  margin-top: 47px;
  width: 299px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.styles__container_list_head {
  margin-bottom: 47px;
  width: 300px;
}

.styles__container_list_button {
  width: 100%;
}

.styles__container_list_button:not(:last-child) {
  margin-bottom: 22px;
}

.styles__container_list_img-left, .styles__container_list_img-right, .styles__container_list_img {
  display: none;
}

.styles__images {
  position: relative;
}

.styles__images_sample {
  position: absolute;
}

.styles__images_sample:nth-of-type(1) {
  right: 398px;
  top: -40px;
}

.styles__images_sample:nth-of-type(2) {
  top: -112px;
  right: 0;
}

.styles__images_sample:nth-of-type(3) {
  right: 398px;
  top: 557px;
}

.styles__images_sample:nth-of-type(4) {
  right: 0;
  top: 199px;
}

.design-project-mob__types_designs_name {
  display: none;
}

.design-project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-project__types {
  position: relative;
  padding-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design-project__types_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
}

.design-project__types_container_descr {
  width: 660px;
  margin-top: 24px;
}

.design-project__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design-project__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design-project__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.design-project__types_designs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design-project__types_designs_name {
  position: relative;
}

.design-project__types_designs_name_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 330px;
  display: flex;
  background: #fff;
  left: 31px;
  top: 300px;
}

.design-project__types_designs_name_head_container {
  margin: 25px 68px 0px 34px;
}

.design-project__types_designs_name_head_container ul {
  margin-top: 15px;
  margin-bottom: 50px;
}

.design-project__types_designs_name_head_container ul li {
  list-style-position: inside;
}

.design-project__types_designs_name_price {
  width: 228px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -27px;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.steps {
  margin-top: -108px;
  padding-top: 429px;
  background: #131313;
}

.steps__container {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__container_descr {
  width: 337px;
}

.steps__container_descr_working_header {
  margin-top: 20px;
}

.steps__container_descr_block {
  margin-top: 92px;
}

.steps__container_descr_block_header {
  width: 240px;
  margin-top: 22px;
}

.steps__container_descr_block_text:last-child {
  margin-top: 15px;
}

.steps__container_descr_block_text {
  margin-top: 20px;
}

.steps__container_descr_arrows {
  margin-top: 100px;
}

.steps__container_descr_arrows {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__container_descr_arrows_left, .steps__container_descr_arrows_right {
  display: inline-block;
}

.steps__container_descr_arrows_left {
  margin-right: 29px;
}

.steps__container_descr_arrows_right {
  margin-left: 29px;
}

.steps__container_descr_arrows_circle {
  display: inline-block;
  height: 9.57px;
  width: 9.57px;
}

.steps__container_descr_arrows_circle:not(:last-child) {
  margin-right: 10px;
}

.steps__container_works {
  width: 766px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__container_works_steps {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps__container_works_steps + img {
  max-width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.steps__container_works_steps_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 40px;
}

.steps__container_works_steps_step_descr {
  width: 100%;
  margin-top: 12px;
}

.steps__container_works img {
  margin-top: 20px;
}

.team {
  padding-top: 40px;
  background: linear-gradient(to bottom, #131313 0%, #131313 500px, #fff 500px, #fff 100%);
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__types {
  height: 725px;
  margin-top: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__types_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__types_container_descr {
  width: 450px;
  margin-top: 24px;
}

.team__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.team__members {
  margin: 80px 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team__members_container {
  position: relative;
}

.team__members .persons {
  position: absolute;
  left: 20px;
  bottom: -50px;
  width: 233px;
  background: #fff;
}

.team__members .persons__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__members .persons__descr_name {
  margin-top: 22px;
  width: 100%;
  text-align: center;
}

.team__members .persons__descr_pos {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.team__members .persons__exp {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E3B873;
}

.team .member-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  left: -35px;
  top: -35px;
  background-color: #E3B873;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
}

.team__descr {
  margin-top: 103px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__descr_line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__descr_line_hor {
  width: 55px;
  height: 1.54px;
  background: #E3B873;
  border-radius: 30px;
}

.team__descr_text {
  margin-top: 17px;
  width: 560px;
  text-align: center;
}

.clients {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 354px;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__types {
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__types_container {
  margin-bottom: 39px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__types_container_descr {
  width: 350px;
  margin-top: 24px;
}

.clients__types_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 195px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__types_text_img {
  margin-top: 12px;
  width: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__types_text_img_line {
  background: #E3B873;
  border-radius: 30px;
  height: 1.54px;
  width: 32px;
}

.clients__reviews {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__reviews_container {
  position: relative;
  padding: 24px 31px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__reviews_container_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.clients__reviews_container_user img {
  border-radius: 50%;
}

.clients__reviews_container_user_name {
  margin-left: 20px;
  width: 182px;
}

.clients__reviews_container_user_review {
  margin-top: 20px;
  margin-bottom: 55px;
}

.clients__reviews_container_user_type {
  position: absolute;
  width: 294px;
  height: 54px;
  bottom: -27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
          box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.clients__reviews_container_user_type_info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__reviews_container_user_type_info:not(:last-child) {
  border-right: 1px solid #fff;
}

.clients__reviews_container_user_type_info svg {
  margin-right: 15px;
}

.clients .ask {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 883px;
  bottom: -222px;
  width: 100%;
  background: #131313;
}

.clients .ask-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 520px;
}

.clients .ask__head {
  margin-top: 34.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.clients .ask__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.clients .ask__inputs_name, .clients .ask__inputs_phone, .clients .ask__inputs_question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients .ask__inputs input:not([type="checkbox"]) {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: none;
}

.clients .ask__inputs_question {
  margin-top: 46px;
  width: 520px;
}

.clients .ask__inputs_question input {
  width: 100%;
}

.clients .ask__inputs_agree {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.clients .ask__inputs_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients .ask__inputs_button_submit {
  margin-bottom: 34.4px;
  margin-top: 50px;
  width: 200px;
  height: 51px;
  border: none;
}

.clients .ask__inputs_label {
  width: 100%;
}

.clients .ask__inputs_label_agree {
  margin-left: 9px;
}

.address {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72))), url("assets/mapbg.png");
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("assets/mapbg.png");
}

.address__container {
  max-width: 925px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 66px;
}

.address__container_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address__container_info_descr {
  margin-top: 275px;
  text-align: center;
  width: 570px;
}

.address__container_info_social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
  margin-bottom: 43px;
}

.address__container_info_social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #E3B873;
}

.address__container_info_social_link:nth-child(1) {
  margin-right: 15px;
}

.address .img {
  margin: 0 auto;
}

footer {
  background-color: #131313;
}

footer nav {
  height: 133px;
}

footer .nav__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav__menu_link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .nav__menu-button_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-mob {
  display: none;
}

@media (max-width: 1439px) {
  .design-project__types_designs,
  nav,
  .clients__reviews {
    padding: 0 40px;
  }
  .projects {
    padding-top: 120px;
    padding-left: 40px;
  }
  .styles__container {
    padding: 0 40px 100px;
  }
  .request {
    padding-right: 40px;
  }
  .repairs {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1275px) {
  .request__form,
  .des-sec {
    display: none;
  }
  .design-project__types_designs_name {
    padding: 0 3px 300px;
  }
  .repairs__types_designs,
  .design-project__types_designs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .repairs__types_designs_name,
  .design-project__types_designs_name {
    padding-left: 20px;
    padding-right: 20px;
  }
  .steps {
    padding-top: 80px;
  }
  .steps__container {
    padding: 0 40px;
  }
}
/*# sourceMappingURL=style.css.map */